body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "article article article article"
    "main main main aside"
    "proyectos proyectos proyectos proyectos"
    "form form preguntas preguntas"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
}

.header-container {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-style: italic;
}

.header-container a {
  color: #000000;
  text-decoration: none;
  border: 2px solid #000000;
  padding: 8px;
}

.nav-container {
  grid-area: nav;
  background-color: rgb(245, 97, 97);
  display: inline;
  background-color: #ffffff00;
  text-align: center;
}

.nav-container ul li {
  display: inline;
  padding: 5px;
  border-bottom: 2px solid #000;
  margin: 5px;
}

.nav-container ul li a {
  text-decoration: none;
  color: #000000;
}

article {
  grid-area: article;
  background-color: rgb(2, 180, 26);
  text-align: center;
}

.sobreMi-contenido {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.sobreMi-contenido p {
  font-style: italic;
}

.sobreMi-contenido img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

main {
  grid-area: main;
  background-color: rgb(84, 180, 187);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formaciones-container {
  width: 50%;
  background-color: aliceblue;
  text-align: center;
}

.formaciones-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cursos-container {
  width: 50%;
  background-color: blueviolet;
  text-align: center;
}

.cursos-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.experiencias-container {
  width: 100%;
  background-color: brown;
}

.experiencias-container h2 {
  text-align: center;
}

aside {
  grid-area: aside;
  background-color: rgb(23, 209, 23);
  text-align: center;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.proyectos-container {
  grid-area: proyectos;
  background-color: yellow;
  padding: 0.5rem;
}

.proyectos-container h2 {
  text-align: center;
}

.box-proyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card-proyecto {
  background-color: #fff;
  width: 550px;
  height: 400px;
  text-align: center;
}

.card-proyecto img {
  width: 100px;
  height: auto;
}

.card-proyecto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form {
  grid-area: form;
  background-color: rgb(168, 164, 164);
}

.preguntas-container {
  grid-area: preguntas;
  background-color: rgb(39, 9, 95);
}

footer {
  grid-area: footer;
  background-color: rgba(85, 11, 104, 0.281);
}
